<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LAMDA-Blog Register Successfully</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <header class="container p-3 text-bg-light border-bottom">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
            style="font-size: 16px;">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-2">
                <img src="/static/images/LAMDA.png" alt="" height="40">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">VIP</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">News</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Question</a></li>
                <li><a href="/docassemble" class="nav-link px-2 text-secondary">Docassemable</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">Group</a></li>

            </ul>

            <form class="d-flex me-2" role="search">
                <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>


            {% if request.user.is_authenticated %}
            <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/static/images/avatar.webp" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small">
                    {% if request.user.blog %}
                    <li><a class="dropdown-item" href="/blog/{{ request.user.blog.title }}/">My blog</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="/blogRegister/">My blog</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="#">My profile</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="/logout/">logout</a></li>
                </ul>
            </div>
            {% else %}
            <div class="text-end">
                <a href="/login/" class="btn btn-outline-primary">Sign in</a>
                <a href="/register/" class="btn btn-primary">Sign up</a>
            </div>
            {% endif %}
        </div>
    </header>

    <div class="container bg-white p-3 rounded text-center">
        <div class="mt-2 text-primary">
            <h4>Blog Register Successfully</h4>
        </div>
        <hr>
        <div class="mt-2">
            <h6>congratulations! Your blog registration has been successful. Your blog is: <a href="{{ request.user.blog.url }}"></a>{{ request.user.blog.url }}</h6>
        </div>
        <hr>
        <div class="mt-2">
            <a href="{{ request.user.blog.url }}" class="btn btn-primary">Enter</a>
        </div>
    </div>

    <footer class="py-3 my-4 bg-tertiary">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">VIP</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">News</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Question</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Docassemble</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Group</a></li>

        </ul>
        <p class="text-center text-muted">© 2024 Company, Inc</p>
    </footer>

    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
</body>

</html>